<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Registration1</servlet-name>
        <servlet-class>Registration1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test1</servlet-name>
        <servlet-class>Test1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>com.Hotel.Controller.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestDemo</servlet-name>
        <servlet-class>com.Hotel.Controller.TestDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.Hotel.Controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardController</servlet-name>
        <servlet-class>com.Hotel.Controller.DashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.Hotel.Controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailChecker</servlet-name>
        <servlet-class>EmailChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeRoleControler</servlet-name>
        <servlet-class>EmployeeRoleControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Employee</servlet-name>
        <servlet-class>com.Hotel.Controller.Employee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rooms</servlet-name>
        <servlet-class>com.Hotel.Controller.Rooms</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>com.Hotel.Controller.DownloadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registration1</servlet-name>
        <url-pattern>/Registration1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test1</servlet-name>
        <url-pattern>/Test1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestDemo</servlet-name>
        <url-pattern>/TestDemo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardController</servlet-name>
        <url-pattern>/DashboardController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailChecker</servlet-name>
        <url-pattern>/EmailChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeRoleControler</servlet-name>
        <url-pattern>/EmployeeRoleControler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Employee</servlet-name>
        <url-pattern>/Employee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rooms</servlet-name>
        <url-pattern>/Rooms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/DownloadServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
